.navbar {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-left li a,
.nav-right li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding-bottom: 4px;
    transition: 0.3s;
    border-bottom: 2px solid #0c345c;
    color: #0c345c;

}

.nav-left li a:hover,
.nav-left li a:hover,
.nav-right li a:hover {
  border-bottom: 2px solid #0080ff;
  color: #007ffd;
cursor: pointer;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #0c345c;
  font-family: "Georgia", serif;
}

/* Media Querie For Tablet */
@media (min-width: 768px) and (max-width: 834px) {

  .nav-container {
    padding: 0 20px;
  }

  .nav-left,
  .nav-right {
    gap: 18px;
  }

  .logo {
    font-size: 22px;
  }

  .nav-left li a,
  .nav-right li a {
    font-size: 15px;
  }
}

/* Media Querie For Mobile */

@media (min-width: 360px) and (max-width: 768px) {

  .nav-container {
    flex-direction: column;
    gap: 12px;
  }

  .logo {
    font-size: 20px;
    text-align: center;
  }

  .nav-left,
  .nav-right {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .nav-left li a,
  .nav-right li a {
    font-size: 15px;
  }
}

/* hero section */
.hero-section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hero-video{
    margin-top: auto;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

