/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #0b5ed7;
    padding: 15px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    
}

.nav-links li {
    margin-left: 25px;
    
    
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #ffd700;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links li {
        margin-left: 0;
    }
}
