.navbar {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-left li a,
.nav-right li a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding-bottom: 4px;
    transition: 0.3s;
    border-bottom: 2px solid #0c345c;
    color: #0c345c;

}

.nav-left li a:hover,
.nav-left li a:hover,
.nav-right li a:hover {
  border-bottom: 2px solid #0080ff;
  color: #007ffd;
cursor: pointer;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #0c345c;
  font-family: "Georgia", serif;}